
h1 {
	color: #ff0060; 
	font-size: 100px;
	text-align: center;
	font-family: 'Baloo Bhai', cursive, sans-serif; 
 }

body {
	background: #ff0060
	text-align: center;} 

h2 {font-style:  sans-serif, italic;
text-align: center;} 


header { background-color:  #FFED74
border: 1px black solid;
padding: 20px; }


nav { 
	font-size; 1.8em; 
float: center;
width; 100%
 }

 nav a {
 	text-decoration: none;
 	color: black;
 	margin: 1.8em;
 	display:inline-block;
 }

 section {float:right
 	font-style: sans-serif;
 }

 p {font-size: 20px
 	font-style: sans-serif; }


 aside {float:right;
 	Margin: 30px;
 }



footer { background-color: #FF957E
border: 1px black solid; 
padding: 20px;
float: none;}